<html lang="en">

<head>
  <title>Todo - Daily Routine Tracker</title>

  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="card">
      <h1>Todo App</h1>
      <form id="myForm" action="/todo/addtask" method="POST">
        <div class="desc">
          <h5>Description</h5>
          <input type="text" name="desc" placeholder="What do you need to do" id="desc" required />
        </div>
        <!-- Category and date -->
        <div class="cate_date">
          <div class="category">
            <h5>Category</h5>
            <select name="cate" id="cate">
              <option value="">Choose a category</option>
              <option value="Personal">Personal</option>
              <option value="work">Work</option>
              <option value="school">School</option>
              <option value="cleaning">cleaning</option>
              <option value="entertainment">Entertainment</option>
              <option value="other">other</option>
            </select>
          </div>
          <div class="date">
            <h5>Due date</h5>
            <input type="date" name="date" id="date" />
          </div>
        </div>
        <!-- Buttons -->
        <div class="btns">
          <!-- <a href="/todo/addtask"> -->
          <button class="add_task" id="add_task">
            <i class="fa-solid fa-plus"></i>
            Add Task
          </button>
        </div>
      </form>

      <!--  SHOWING TODOS FROM DATABASE -->
      <div class="todos">
        <% for(todo of todos){ %>

          <div class="todosList">
            <div class="descanddate">
              <%= todo.desc %>
                <br>
                <small class="dateicon">
                  <i class="fa-regular fa-calendar"></i>
                  <%= todo.date %>
                </small>

                <br>

            </div>
            <div class="cateanddeletebutton">
              <div class="categoryButton">
                <%= todo.cate %>

              </div>
              <div class="deleteButton">
                <a href="/todo/delete/<%= todo.id %>">
                  <i class="fa-solid fa-trash-can"></i>
                  Delete
                  <br>
                </a>
              </div>

            </div>
          </div>
          <%} %>
      </div>
    </div>

  </div>

  <script src="https://kit.fontawesome.com/54ca33a769.js" crossorigin="anonymous"></script>
</body>

</html>