@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}



.card {
  width: 50%;
  min-height: 100%;
  background-color: #fff;
}


.card>h1 {
  margin: 1% 0%;
  text-align: center;
  font-size: 2.5rem;
}




/* Description css */

.card .desc {
  width: 100%;
  height: 10%;
  background-color: #fff;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.card .desc h5 {
  margin: 1px 3%;
  color: rgb(107, 106, 106);
  font-size: 1rem;
}

.card .desc input {
  outline: none;
  border: none;
  width: 94%;
  height: 65%;
  margin: 0px 3%;
}


/* category and date css */

.cate_date {
  display: flex;
  width: 100%;
  height: 10%;
  margin: 1% 0%;
  border-bottom: 1px solid gray;
}

.cate_date .category {
  width: 50%;
  height: 60%;
}

.cate_date .category h5 {
  font-size: 1rem;
  margin: 2px 3%;
}

#cate {
  outline: none;
  border: none;
  width: 92%;
  height: 94%;
  margin: 0px 4%;
}

.cate_date .date {
  width: 50%;
  height: 60%;
}

.cate_date .date h5 {
  font-size: 1rem;
  margin: 2px 3%;
}

.cate_date .date input {
  outline: none;
  border: none;
  width: 92%;
  height: 94%;
  margin: 0px 4%;
}

.btns {
  width: 100%;
  height: 20%;
  margin: 1% 0%;
  border-bottom: 1px solid rgb(185, 181, 181);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns button {
  width: 30%;
  height: 50%;
  margin: 0% 1%;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.btns .add_task {
  background-color: rgb(77, 76, 76);
  color: #fff;
  font-size: 1.6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

/* Todos List style  */


.todos {
  width: 100%;
  height: 80px; 
  
}
.todosList{
  height: 105%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;

}
.descanddate{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size:18px;
  font-weight: bold;
  margin-left: 20px;
}
 .dateicon{
 font-size: 15px;
 font-weight: 200;
 color: gray;
 margin-top: 5px;
}

.cateanddeletebutton{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  

}
.categoryButton{
  width: auto;
  height: 25%;
  background-color: rgb(169, 223, 89);
  margin: 10px 20px 0px 0px ;
  padding: 3px;
}

.deleteButton{
  width: 30%;
  height: 30%;
  background-color: rgb(199, 61, 61);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 10px 20px 0px 0px ;
}
.deleteButton a {
  text-decoration: none;
  color: white;

}